*{margin: 0; padding: 0; 
}
.center{
    text-align: center;
}
   

   nev ul{
     margin:10px 30px;
    color:aqua;
    font-size: 20px ;
    }
     header{
      background-image: url(download.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

    }
    section{
      margin: 20px 50px;
    }
     
            
       button{
            background-color: rgb(125, 116, 116);
            color: blueviolet;
            border: 1px solid rgb(130, 121, 139);
            padding: 10px 20px;
            font-size: 10px;
            margin: 10px 10px;
            
       }
          
        button:hover{
            background-color:rgb(91, 76, 105);
            color: rgb(76, 47, 47);
            border:0;
            size: 20px;
            color:rgb(144, 129, 157);   
             }
             section li{
                color:cadetblue;
               
             }
             footer{
                text-align:center;
               
                color: rgb(65, 19, 19);
                background-image: url(https://cdn.vectorstock.com/i/750p/39/47/grey-diagonal-gradient-lines-footer-background-vector-49803947.avif) ;
                background-size:cover;
                background-position:center;
                background-repeat: no-repeat;

             }
             .pro{
               color: rgb(74, 14, 129);
             }